# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Set up Python 2.x
      uses: actions/setup-python@v2
      with:
        python-version: '2.x'

    - name: Install dependencies 3.x
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Install dependencies 2.x
      run: |
        python2 -m pip install --upgrade pip
        pip2 install setuptools

    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: |
        python3 setup.py sdist bdist_wheel
        python2 setup.py sdist bdist_wheel
        twine check dist/*
        twine upload dist/*
